*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
   margin-top: 50px;
   margin-left: 80px;
   padding-bottom: 80px;
}

h1 {
    margin-bottom: 18px;
}

ul {
    list-style: none;
}

.card {
    background-color: #f4f4f4;
    border: 1px #ccc solid;
    padding: 18px;
}

.dark {
    background-color: #333;
    color:#fff;
}